footer {
    height: 100vh;
    padding: 12%;
    background-color: #FFF8F3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#left-in-footer>*,
#right-in-footer>* {
    margin-bottom: 15px;
}

#icon-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

#icon-div>* {
    margin-right: 16px;
}

footer form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

footer form>* {
    margin-bottom: 16px;
}

footer input,
footer textarea {
    border: 0;
    height: 64px;
    color: #757575;
    padding-left: 16px;
    border-radius: 5px;
    resize: none;
    font-size: 16px;

}

footer textarea {
    padding-top: 16px;
    height: 180px;
}

footer button {
    width: 150px;
}