@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

.same-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black; */
}

header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black; */
    min-height: 100vh;
    background-color: #FFF8F3;
    padding: 10px 20px;
    width: 100%;
    align-items: center;
    padding-bottom: 0px;
    padding-right: 0px;
}

#button-div {
    display: flex;
    flex-direction: row;

}


#developer {
    min-height: 100vh;
    padding-block: 30px;
    max-width: 150px;
    padding-bottom: 50px;

}

#about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: max-content;
}

#about-text>* {
    margin-bottom: 20px;
}

ul>*,
nav {
    margin-right: 40px;
}

nav {
    margin-bottom: 40px;
}

.svg-button {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.svg-button>span {
    margin-left: 5px;
}

#header-container2 {
    width: 90vw;
    height: 100vh;

    padding-left: 40px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url('../images/header_bg.png');
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

#header-container2>#below-nav {
    height: 100%;
}

#hardy-pic {
    max-width: 584px;
    max-height: 676px;
}

#below-nav {
    justify-content: stretch;
}

#below-nav>* {
    width: 100%;
    padding-right: 0px;
}

#about-image {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 0px;
    /* width: 80%; */
}

header figure {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 0px;
}

header a {
    color: #474747;
    font-size: 20px;
    text-decoration: none;
}

header li {
    list-style: none;
}

header ul {
    align-items: center;
}

.full-orange {
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    border: 0;
}

.half-orange {
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFF8F3;
    margin-left: 15px;
}